/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@use "@picocss/pico/scss/pico" with (
    $semantic-root-element: 'body div:first-child',
    $enable-semantic-container: true,
    $enable-viewport: true
);

:root {
    --pico-spacing: .2rem;
    --pico-border-radius: 0;
    --pico-font-family: "Red Rose", system-ui, sans-serif;
}
